# ROOT directory
.agents
.claude
.superpowers
docs
venv
.env
skills-lock.json


# Backend directory
backend/_pycache_
backend/.pytest_cache

backend/env
backend/venv

# Frontend directory (Not complete yet)
web_based